---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { collection, getDocs } from "firebase/firestore";
import { firestore } from "../firebase.config";
import type { Tool } from "../models/tool.model";

// const tools: Tool[] = [];

// const qs = await getDocs(collection(firestore, "tools"));
// qs.forEach((doc) => {
//   tools.push(doc.data() as Tool);
// });
// console.log(tools.slice(0, 20));

const tools: Tool[] = [
  {
    author: "bennett-feely",
    imageURL: "",
    tags: ["SHAPES", "CSS"],
    description: "CSS clip path generator to create complex shapes.",
    name: "Clippy",
    category: "generators",
    url: "https://bennettfeely.com/clippy/",
  },
  {
    url: "https://www.gradientmagic.com/",
    imageURL: "",
    description: "A Free Gallery of Fantastic and Unique CSS Gradients.",
    category: "colors",
    tags: ["GRADIENTS", "10/10"],
    name: "Gradient Magic",
    author: "jordan-marshall",
  },
  {
    url: "https://compressimage.io/",
    description:
      "Compress JPG and PNG images at light speed. Private, Works Offline, No Limits.",
    tags: ["IMG COMPRESSION"],
    author: "towfiqi",
    category: "other",
    name: "Compress Image Online",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fcompress-image-120px.webp?alt=media&token=936908bc-1f63-44a6-808b-c76d4d0b1b51",
  },
  {
    category: "generators",
    name: "Pattern Monster",
    description:
      "A simple online pattern generator to create repeatable SVG patterns.",
    author: "naveen-cs",
    tags: ["PATTERNS", "SVG"],
    url: "https://pattern.monster/",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fpattern-monster-120px.webp?alt=media&token=d5c7dde1-ed6b-426f-b0f3-2e86cf48a126",
  },
  {
    imageURL: "",
    description:
      "Visualization app that transforms JSON into interactive graphs.",
    name: "JSON Crack",
    category: "other",
    tags: ["JSON"],
    author: "aykut-sarac",
    url: "https://jsoncrack.com/",
  },
  {
    category: "icons",
    tags: ["SVG", "IONIC"],
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
    author: "ionic",
    url: "https://ionic.io/ionicons",
    description: "Open source icons. Lovingly hand-crafted.",
    name: "Ionicons",
  },
  {
    author: "components-ai",
    name: "Randoma11y",
    description: "Get random, accessible color combinations.",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Frandoma11y-120px.webp?alt=media&token=0a4f5cd7-f769-49fe-ba3e-6227054e354c",
    category: "colors",
    url: "https://randoma11y.com/",
    tags: ["CONTRASTS"],
  },
  {
    tags: ["GRADIENTS"],
    url: "https://gradienthunt.com/",
    category: "colors",
    description:
      "Thousands of trendy color gradients in a curated collection that is updated daily.",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fgradient-hunt-120px.webp?alt=media&token=cebb6007-f7a0-4cc4-be16-82acc97db8d6",
    author: "franco-maldonado",
    name: "Gradient Hunt",
  },
  {
    name: "Splide",
    category: "libraries",
    author: "naotoshi-fujita",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fsplide-120px.webp?alt=media&token=3eebc43f-2747-4e9f-b1b3-813aa0a9b5c5",
    tags: ["SLIDERS", "JS", "REACT", "VUE", "SVELTE"],
    description:
      "Lightweight, flexible and accessible slider/carousel written in TypeScript.",
    url: "https://splidejs.com/",
  },
  {
    category: "illustrations",
    description:
      "Open-source illustrations for any idea you can imagine and create.",
    url: "https://undraw.co/illustrations",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fundraw-120px.webp?alt=media&token=f0525f51-e2ba-458e-97ef-a9fbd95ad67d",
    author: "katerina-l",
    tags: ["SVG", "PNG", "CUSTOMIZABLE"],
    name: "unDraw",
  },
  {
    author: "typicode",
    tags: ["API"],
    name: "JSONPlaceholder",
    description: "Free fake API for testing and prototyping.",
    category: "other",
    url: "https://jsonplaceholder.typicode.com/",
    imageURL: "",
  },
  {
    tags: ["PALETTES"],
    description:
      "Get inspired by thousands of beautiful color schemes and make something cool!",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fcoolors-120px.webp?alt=media&token=063f19b0-2908-429e-b6b0-43cf66607228",
    category: "colors",
    url: "https://coolors.co/palettes/trending",
    name: "Coolors",
    author: "fabrizio-bianchi",
  },
  {
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fi-love-img-120px.webp?alt=media&token=35d1c51e-24ea-4b2e-8004-98b0106d18a7",
    description: "Every tool you could want to edit images in bulk.",
    tags: ["RESIZE", "EDIT", "CONVERT"],
    category: "other",
    author: "i-love-img",
    url: "https://www.iloveimg.com/",
    name: "iLoveIMG",
  },
  {
    url: "https://www.svgrepo.com/",
    description:
      "Search, explore and edit the best-fitting free icons or vectors for your projects.",
    author: "svg-repo",
    tags: ["SVG", "PNG"],
    name: "SVG Repo",
    category: "icons",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fsvg-repo-120px.webp?alt=media&token=e3b79308-ba30-4ff4-89ff-0fedd3abda62",
  },
  {
    name: "Vaul",
    imageURL: "",
    description: "An unstyled drawer component for React.",
    tags: ["DRAWER", "REACT"],
    author: "emil-kowalski",
    category: "libraries",
    url: "https://vaul.emilkowal.ski/",
  },
  {
    name: "CoolHue",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fcoolhue-120px.webp?alt=media&token=34b481cb-9b7d-4e12-ac06-ea0839d5fffa",
    category: "colors",
    author: "webkul",
    description:
      "Coolest handpicked Gradient Hues and Swatches for your next super ⚡ amazing stuff.",
    url: "https://webkul.github.io/coolhue/",
    tags: ["GRADIENTS"],
  },
  {
    imageURL: "",
    tags: ["BACKGROUNDS", "SVG", "CSS", "URI"],
    description:
      "Free svg background generator for your websites, blogs and app.",
    name: "BGJar",
    url: "https://bgjar.com/",
    category: "generators",
    author: "zhangshine",
  },
  {
    author: "marko-denic",
    name: "Glassmorphism",
    category: "generators",
    tags: ["GLASS EFFECT", "CSS"],
    url: "https://markodenic.com/tools/glassmorphism-css-generator/",
    imageURL: "",
    description: "Glassmorphism CSS Generator.",
  },
  {
    category: "generators",
    name: "fffuel",
    author: "sebastien-noel",
    url: "https://fffuel.co/",
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Ffffuel-120px.webp?alt=media&token=3994d7ff-effb-4cd1-a518-691d2abbb97e",
    description:
      "Collection of tools and SVG generators for gradients, patterns, textures, shapes & backgrounds.",
    tags: ["SHAPES", "BACKGROUNDS", "SVG"],
  },
  {
    imageURL:
      "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fcolorkit-120px.webp?alt=media&token=5e1a68e1-f0a6-4917-bde8-835cba783481",
    author: "andy-feliciotti",
    name: "ColorKit",
    url: "https://colorkit.co/",
    category: "colors",
    tags: ["PALETTES", "GRADIENTS"],
    description:
      "Collection of tools to create color palettes and accomplish stunning designs.",
  },
];
---

<Layout>
  <div class="mt-8 flex w-full flex-col items-center gap-8">
    <div
      class="mt-16 flex max-w-[1050px] flex-row flex-wrap justify-start gap-[25px]"
    >
      {tools.map((tool) => <Card tool={tool} />)}
    </div>
  </div>
</Layout>
