---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <div class="mt-8 flex w-full flex-col items-center gap-8">
    <div
      class="mt-16 grid w-4/5 auto-rows-custom grid-cols-custom justify-center gap-x-3"
    >
      <Card
        tool={{
          name: "Ionicons",
          author: "ionic",
          category: "icons",
          description:
            "Open source icons. open source icons and open source icons and some more open",
          url: "https://ionic.io/ionicons",
          imageURL:
            "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
          tags: ["SVG", "IONIC"],
        }}
      />
      <Card
        tool={{
          name: "Ionicons",
          author: "ionic",
          category: "icons",
          description: "Open source icons. Lovingly hand-crafted.",
          url: "https://ionic.io/ionicons",
          imageURL:
            "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
          tags: ["SVG", "IONIC"],
        }}
      />
      <Card
        tool={{
          name: "Ionicons",
          author: "ionic",
          category: "icons",
          description: "Open source icons. Lovingly hand-crafted.",
          url: "https://ionic.io/ionicons",
          imageURL:
            "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
          tags: ["SVG", "IONIC"],
        }}
      />
      <Card
        tool={{
          name: "Ionicons",
          author: "ionic",
          category: "icons",
          description: "Open source icons",
          url: "https://ionic.io/ionicons",
          imageURL:
            "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
          tags: ["SVG", "IONIC"],
        }}
      />
      <Card
        tool={{
          name: "Ionicons",
          author: "ionic",
          category: "icons",
          description: "Open source icons. Lovingly hand-crafted.",
          url: "https://ionic.io/ionicons",
          imageURL:
            "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
          tags: ["SVG", "IONIC"],
        }}
      />
      <Card
        tool={{
          name: "Ionicons",
          author: "ionic",
          category: "icons",
          description: "Open source icons. Lovingly hand-crafted.",
          url: "https://ionic.io/ionicons",
          imageURL:
            "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
          tags: ["SVG", "IONIC"],
        }}
      />
      <Card
        tool={{
          name: "Ionicons",
          author: "ionic",
          category: "icons",
          description: "Open source icons",
          url: "https://ionic.io/ionicons",
          imageURL:
            "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
          tags: ["SVG", "IONIC"],
        }}
      /><Card
        tool={{
          name: "Ionicons",
          author: "ionic",
          category: "icons",
          description: "Open source icons",
          url: "https://ionic.io/ionicons",
          imageURL:
            "https://firebasestorage.googleapis.com/v0/b/web-dev-tools-47601.appspot.com/o/120%2Fionicons-120px.webp?alt=media&token=998f38a5-0128-412e-96a5-3d3b6dc7bf40",
          tags: ["SVG", "IONIC"],
        }}
      />
    </div>
  </div>
</Layout>
