---
import type { Link } from "../models/link.model";
interface Props {
  link: Link;
}

const { link } = Astro.props;
---

<aside class="flex flex-col [grid-area:aside]">
  <div
    class="grid h-20 place-items-center border-b-[1px] border-l-[1px] border-base-200"
  >
    <h1 class="text-4xl font-bold italic text-white">{link.name}</h1>
  </div>
  <div
    tabindex="0"
    class="min-h-10 collapse rounded-none border-b-[1px] border-l-[1px] border-base-200 min-[1075px]:collapse-open min-[1075px]:flex-grow"
  >
    <div
      class="collapse-title flex flex-row items-center justify-between px-5 min-[1075px]:hidden"
    >
      <h2 class="font-medium">Tap to toggle description</h2>
    </div>
    <div class="collapse-content flex flex-col justify-end px-5">
      {
        link.description ? (
          <p class="hyphens-auto text-lg font-normal min-[1075px]:px-3 min-[1075px]:pb-3">
            {link.description}
          </p>
        ) : (
          <p class="hyphens-auto text-lg font-normal min-[1075px]:px-3 min-[1075px]:pb-3">
            Welcome to <strong>Web Dev Tools</strong>, your go-to hub for
            handpicked, free, and user-friendly resources to supercharge your
            web development projects.
            <br />
            <br />
            Explore our carefully curated categories, including{" "}
            <span class="text-rose-500">Icons</span>,{" "}
            <span class="text-yellow-500">Fonts</span>,{" "}
            <span class="text-green-500">Illustrations</span>,{" "}
            <span class="text-indigo-500">Colors</span>,{" "}
            <span class="text-sky-500">Libraries</span>,{" "}
            <span class="text-orange-500">Generators</span>, and{" "}
            <span class="text-fuchsia-500">more</span>. Enhance your development
            process with ease - it's all here, waiting for you!
          </p>
        )
      }
    </div>
  </div>
</aside>
