---
import type { Link } from "../layouts/Layout.astro";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="drawer-side">
  <label for="main-drawer" class="drawer-overlay"></label>
  <ul class="menu bg-base-100 text-base-content min-h-full w-80 p-4">
    <label for="main-drawer" class="btn btn-ghost">Close</label>
    <!-- Categories -->
    {
      links.map((link) => (
        <li>
          <a href="">{link.name}</a>
        </li>
      ))
    }
    <!-- Other Links -->
    <li><a href="">About</a></li>
    <li><a href="">Github</a></li>
    <li><a href="">Credits</a></li>
    <li><a href="">Disclaimer</a></li>

    <!-- Drawer Footer (?) -->
  </ul>
</div>
