---
import type { Link } from "../models/link.model";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="drawer-side">
  <label for="main-drawer" class="drawer-overlay"></label>
  <ul class="menu min-h-full w-80 bg-base-100 p-4 text-base-content">
    <li>
      <h2 class="menu-title">Categories</h2>
      <ul>
        <li><a href="/">All</a></li>
        {
          links.map((link) => (
            <li>
              <a href={link.path}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </li>
    <li>
      <h2 class="menu-title">Other links</h2>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Credits</a></li>
        <li><a href="">Disclaimer</a></li>
      </ul>
    </li>
  </ul>
</div>
