---
import type { Tool } from "../models/tool.model";
import Card from "./Card.astro";

interface Props {
  tools: Tool[];
}
const { tools } = Astro.props;
---

<!-- TODO: Fix mobile Y axis margins, last card isn't showing -->
<div
  class="flex w-full flex-col items-center gap-8 pb-72 pt-8 min-[1075px]:py-8"
>
  <article
    class="flex w-[300px] flex-row flex-wrap justify-center gap-[25px] md:w-[625px] min-[1385px]:w-[950px] min-[1725px]:w-[1275px]"
  >
    {tools.map((tool) => <Card tool={tool} />)}
  </article>
</div>
