---
import type { Category } from "../models/category.model";
import type { Link } from "../models/link.model";
import CategoyIcon from "./icons/CategoyIcon.astro";
import Github from "./icons/Github.astro";
import Info from "./icons/Info.astro";
import MenuIcon from "./icons/MenuIcon.astro";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
const pathName = new URL(Astro.request.url).pathname;
---

<header>
  <nav
    class="flex h-20 w-full flex-row items-center justify-between border-b-[1px] border-b-base-200 px-5 lg:px-10"
  >
    <a
      href="/"
      class:list={[
        "font-mono text-2xl font-bold normal-case italic",
        pathName == "/" && "text-white",
      ]}>{"<wdt/>"}</a
    >
    <label for="main-drawer" class="lg:hidden">
      <MenuIcon />
    </label>

    <div class="hidden h-full lg:flex lg:flex-row">
      <div
        class="flex flex-row items-center gap-10 border-l-[1px] border-base-200 px-10"
      >
        {
          links.map((link) => (
            <a href={link.path}>
              <CategoyIcon
                category={link.name.toLowerCase() as Category}
                color="content"
                size="nav"
                hoverColor={link.hoverFillColor}
                activeColor={pathName == link.path ? link.fillColor : undefined}
              />
            </a>
          ))
        }
      </div>

      <div
        class="flex flex-row items-center gap-10 border-l-[1px] border-base-200 pl-10"
      >
        <a href="/about">
          <Info />
        </a>
        <a href="https://github.com/GabrielCornejoB/web-dev-tools">
          <Github />
        </a>
      </div>
    </div>
  </nav>
</header>
