<nav class="flex h-28 w-full flex-row items-center justify-between px-8">
	<div class="flex w-32 flex-row justify-start">
		<a
			class="text-base-content cursor-pointer font-mono text-4xl font-bold italic transition-opacity hover:text-opacity-75"
		>
			{'<wdt/>'}
		</a>
	</div>

	<ul class="flex flex-row gap-14 text-base">
		<li><a class="cursor-pointer transition-colors hover:text-rose-500">Icons</a></li>
		<li><a class="cursor-pointer transition-colors hover:text-indigo-500">Colors</a></li>
		<li><a class="cursor-pointer transition-colors hover:text-green-500">Illustrations</a></li>
		<li><a class="cursor-pointer transition-colors hover:text-yellow-500">Libraries</a></li>
		<li><a class="cursor-pointer transition-colors hover:text-sky-500">React</a></li>
	</ul>

	<div class="flex w-32 flex-row justify-end">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			height="1.75em"
			viewBox="0 0 448 512"
			class="fill-base-content cursor-pointer transition-opacity hover:opacity-75"
		>
			<path
				d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
			></path>
		</svg>
	</div>
</nav>
