---
import type { Link } from "../models/link.model";
import MenuIcon from "./icons/MenuIcon.astro";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
const pathName = new URL(Astro.request.url).pathname;
---

<header class="h-20 border-b-[1px] border-b-base-200">
  <nav class="flex h-full w-full flex-row items-center justify-between px-5">
    <a href="" class="font-mono text-2xl font-bold normal-case italic"
      >{"<wdt/>"}</a
    >
    <label for="main-drawer" class="">
      <MenuIcon />
    </label>
  </nav>
</header>
