---
import Arrow from "./icons/Arrow.astro";

// interface Props {
//   previous: string;
//   next: string;
// }
---

<nav
  class="flex h-[100px] flex-row border-l-[1px] border-t-[1px] border-base-200 [grid-area:buttons] md:h-[200px]"
>
  <a href="" class="grid w-1/2 place-items-center">
    <Arrow direction="left" />
  </a>
  <a
    href=""
    class="grid w-1/2 place-items-center border-l-[1px] border-base-200"
  >
    <Arrow direction="right" />
  </a>
</nav>
