---
import Navbar from "../components/Navbar.astro";
import Drawer from "../components/Drawer.astro";
import type { Link } from "../models/link.model";

const links: Link[] = [
  {
    name: "Icons",
    path: "/icons",
    borderColor: "border-b-rose-500",
    hoverBorderColor: "hover:border-b-rose-500",
  },
  {
    name: "Fonts",
    path: "/fonts",
    borderColor: "border-b-sky-500",
    hoverBorderColor: "hover:border-b-sky-500",
  },
  {
    name: "Illustrations",
    path: "/illustrations",
    borderColor: "border-b-green-500",
    hoverBorderColor: "hover:border-b-green-500",
  },
  {
    name: "Colors",
    path: "/colors",
    borderColor: "border-b-indigo-500",
    hoverBorderColor: "hover:border-b-indigo-500",
  },
  {
    name: "Libraries",
    path: "/libraries",
    borderColor: "border-b-yellow-500",
    hoverBorderColor: "hover:border-b-yellow-500",
  },
  {
    name: "Generators",
    path: "/generators",
    borderColor: "border-b-orange-500",
    hoverBorderColor: "hover:border-b-orange-500",
  },
  {
    name: "Other",
    path: "/other",
    borderColor: "border-b-slate-500",
    hoverBorderColor: "hover:border-b-slate-500",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>wdt</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="text-content w-full">
    <div class="drawer drawer-end">
      <input type="checkbox" id="main-drawer" class="drawer-toggle" />
      <div class="drawer-content">
        <Navbar links={links} />
        <main class="w-full">
          <slot />
        </main>
      </div>
      <Drawer links={links} />
    </div>
  </body>
</html>
