---
import Navbar from "../components/Navbar.astro";
import Drawer from "../components/Drawer.astro";

export interface Link {
  name: string;
  path: string;
  borderColor: string;
}

const links: Link[] = [
  {
    name: "Icons",
    path: "/icons",
    borderColor: "hover:border-b-rose-500",
  },
  {
    name: "Fonts",
    path: "/fonts",
    borderColor: "hover:border-b-sky-500",
  },
  {
    name: "Illustrations",
    path: "/illustrations",
    borderColor: "hover:border-b-green-500",
  },
  {
    name: "Colors",
    path: "/colors",
    borderColor: "hover:border-b-indigo-500",
  },
  {
    name: "Libraries",
    path: "/libraries",
    borderColor: "hover:border-b-yellow-500",
  },
  {
    name: "Generators",
    path: "/generators",
    borderColor: "hover:border-b-orange-500",
  },
  {
    name: "Other",
    path: "/other",
    borderColor: "hover:border-b-slate-500",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>wdt</title>
  </head>
  <body class="text-content w-screen">
    <div class="drawer drawer-end">
      <input type="checkbox" id="main-drawer" class="drawer-toggle" />
      <div class="drawer-content">
        <Navbar links={links} />
        <slot />
      </div>
      <Drawer links={links} />
    </div>
  </body>
</html>
